<mat-toolbar>
  <span>FitLog</span>
  <span class="spacing"></span>
  <span *ngIf="userIsAuthenticated">
    <a
      mat-raised-button
      routerLink="/display"
      routerLinkActive="mat-primary">
        Training
    </a>
  </span>
  <span *ngIf="userIsAuthenticated">
    <a
      mat-raised-button
      routerLink="/routines"
      routerLinkActive="mat-primary">
        Routines
    </a>
  </span>
  <span *ngIf="!userIsAuthenticated">
    <a
      mat-raised-button
      routerLink="/signin"
      routerLinkActive="mat-primary">
        Sign In
    </a>
  </span>
  <span *ngIf="userIsAuthenticated">
    <button
      mat-raised-button
      (click)="onSignOut()">
        Sign Out
    </button>
  </span>
  <span *ngIf="!userIsAuthenticated">
    <a
      mat-raised-button
      routerLink="/signup"
      routerLinkActive="mat-primary">
        New User
    </a>
  </span>

</mat-toolbar>
