<form>
  <mat-grid-list cols="12" rowHeight="2.5rem">
    <mat-grid-tile colspan="4" rowspan="1">
      <label><strong>What would you like to do?</strong></label>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSearch(requestedTrainingDate)">
          Search Sessions
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <input
          matInput
          type="date"
          name="date"
          ngModel
          #requestedTrainingDate />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <app-training-log-dialog></app-training-log-dialog>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<hr>
<mat-grid-list cols="1" rowHeight="2.5rem">
  <mat-grid-tile colspan="1" rowspan="1">
    <p *ngIf="trainingLog === null && trainingDate !== null"><strong>No training sessions found for {{ trainingDate }}</strong></p>
  </mat-grid-tile>
</mat-grid-list>

<!-- <div *ngIf="trainingDate === null">
  <mat-grid-list cols="12" rowHeight="2.5rem">
    <mat-grid-tile colspan="3" rowspan="1">
      <input
        matInput
        type="date"
        #trainingDate />
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSearch(trainingDate)">
          Search
        </button>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- <div *ngIf="trainingLog === null">
  <mat-grid-list
    cols="12"
    rowHeight="3rem"
    gutterSize="20px">
    <mat-grid-tile colspan="3" rowspan="1">
      <label><strong>Would you like to log a new training session?</strong></label>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <app-training-log-dialog></app-training-log-dialog>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<!-- <div *ngIf="trainingLog !== null">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope='col'><strong>Training Date:</strong></th>
        <th scope='col'>{{ trainingLog.trainingDate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <table class="table table-bordered table-nested">
            <thead>
              <tr>
                <th scope='col'>Exercise Name</th>
                <th scope='col'>Set 1</th>
                <th scope='col'>Set 2</th>
                <th scope='col'>Set 3</th>
                <th scope='col'>Set 4</th>
                <th scope='col'>Set 5</th>
              </tr>
            </thead>
            <tbody *ngFor="let exercise of trainingLog.exercises">
              <tr>
                <th scope='row'>{{ exercise.name }}</th>
                <td>{{ exercise.set1 }}</td>
                <td>{{ exercise.set2 }}</td>
                <td>{{ exercise.set3 }}</td>
                <td>{{ exercise.set4 }}</td>
                <td>{{ exercise.set5 }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th scope='col'><strong>Comments:</strong></th>
        <td scope='col'>{{ trainingLog.comments }}</td>
      </tr>
    </tbody>
  </table>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onDelete(trainingLog._id)">
        Delete
    </button>
</div> -->



<div *ngIf="trainingLog !== null">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ trainingLog.trainingDate }}
      </mat-expansion-panel-header>
      <!-- <div *ngFor="let exercise of trainingLog.exercises">
        <div class="row">
          <div class="col-2">
            <label>Exercise Name: </label>
            {{ exercise.name }}
          </div>
          <div class="col-1">
            <label>Set 1: </label>
            {{ exercise.set1 }}
          </div>
          <div class="col-1">
            <label>Set 2: </label>
            {{ exercise.set2 }}
          </div>
          <div class="col-1">
            <label>Set 3: </label>
            {{ exercise.set3 }}
          </div>
          <div class="col-1">
            <label>Set 4: </label>
            {{ exercise.set4 }}
          </div>
          <div class="col-1">
            <label>Set 5: </label>
            {{ exercise.set5 }}
          </div>
        </div>
      </div> -->
      <!-- <br />
      <div class="row">
        <div class="col-3">
          Comments:
        </div>
        <div class="col-9">
          {{ trainingLog.comments }}
        </div>
      </div> -->
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope='col'><strong>Training Date:</strong></th>
            <th scope='col'>{{ trainingLog.trainingDate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4">
              <table class="table table-bordered table-nested">
                <thead>
                  <tr>
                    <th scope='col'>Exercise Name</th>
                    <th scope='col'>Set 1</th>
                    <th scope='col'>Set 2</th>
                    <th scope='col'>Set 3</th>
                    <th scope='col'>Set 4</th>
                    <th scope='col'>Set 5</th>
                  </tr>
                </thead>
                <tbody *ngFor="let exercise of trainingLog.exercises">
                  <tr>
                    <th scope='row'>{{ exercise.name }}</th>
                    <td>{{ exercise.set1 }}</td>
                    <td>{{ exercise.set2 }}</td>
                    <td>{{ exercise.set3 }}</td>
                    <td>{{ exercise.set4 }}</td>
                    <td>{{ exercise.set5 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th scope='col'><strong>Comments:</strong></th>
            <td scope='col'>{{ trainingLog.comments }}</td>
          </tr>
        </tbody>
      </table>
      <mat-action-row>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onDelete(trainingLog._id)">
            Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

