:host {
  margin-top: 1rem;
  z-index: 2;
}

mat-card {
  width: 85%;
  margin: auto;
  z-index: 2;
}

.table {
  width: 95%;
  margin: auto;
}

.table-nested {
  width: 100%;
  margin: auto;
}

.info-text {
  text-align: center;
}
