<form>
  <mat-grid-list cols="12" rowHeight="2.5rem">
    <mat-grid-tile colspan="4" rowspan="1">
      <label><strong>What would you like to do?</strong></label>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSearch(requestedTrainingDate)">
          Search Sessions
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <input
          matInput
          type="date"
          name="date"
          ngModel
          #requestedTrainingDate />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <app-training-log-dialog></app-training-log-dialog>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<hr>
<mat-grid-list cols="1" rowHeight="2.5rem">
  <mat-grid-tile colspan="1" rowspan="1">
    <p *ngIf="trainingLog === null && trainingDate !== null"><strong>No training sessions found for {{ trainingDate }}</strong></p>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="trainingLog !== null">
  <mat-card>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col"><strong>Training Date:</strong></th>
          <th scope="col">{{ trainingLog.trainingDate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <table class="table table-bordered table-nested">
              <thead>
                <tr>
                  <th scope="col">Exercise Name</th>
                  <th scope="col">Set 1</th>
                  <th scope="col">Set 2</th>
                  <th scope="col">Set 3</th>
                  <th scope="col">Set 4</th>
                  <th scope="col">Set 5</th>
                </tr>
              </thead>
              <tbody *ngFor="let exercise of trainingLog.exercises">
                <tr>
                  <th scope="row">{{ exercise.name }}</th>
                  <td>{{ exercise.set1 }}</td>
                  <td>{{ exercise.set2 }}</td>
                  <td>{{ exercise.set3 }}</td>
                  <td>{{ exercise.set4 }}</td>
                  <td>{{ exercise.set5 }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th scope="col"><strong>Comments:</strong></th>
          <td scope="col">{{ trainingLog.comments }}</td>
        </tr>
      </tbody>
    </table>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onDelete(trainingLog._id)">
          Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

